body{
  margin: 0;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.container{
  width: 1061px;
  text-align: center;
}

header{
  position: fixed;
  width: 100%;
  height: 45px;
  background-color: black;
  opacity: 0.6;
}

.header-menu{
  list-style: none;
  font-size: 0;
}

.header-menu li{
  margin:5px 0;
  width:300px;
  text-align: center;
  display: inline-block;
  font-size:20px;
}

.header-menu li a{
  text-decoration: none;
  color:white;
  font-weight: bold;
}

.header-menu :hover{
  color:gray;
  opacity: 1;
}

.intro{
  padding:50px 0 50px 0;
  font-weight: bold;
  text-align: center;
}

.title{
  font-size: 35px;
}

.profile{
  padding:550px 0 100px 0;
  background-image: url(https://cdn.pixabay.com/photo/2016/07/10/11/55/cat-1507600_1280.jpg);
  background-size: cover;
  color:white;
  text-align: center;
}

.introduction h1{
  font-size: 30px;
}

.introduction p{
  font-size:20px;
}

.strength{
  height: 780px;
  text-align: center;
}

.strength-title{
  height: 100px;
  padding: 30px 0 10px 0;
  background-color: whitesmoke;
  margin:20px 10px 10px 10px;
}

.strength1, .strength3, .strength2, .strength4{
  width: 500px;
  margin:10px;
  float: left;
  background-color: whitesmoke;
  font-size: 15px;
  height:280px;
  padding: 5px;
}

.contact{
  padding:200px 0 100px 0;
  background-image: url(cat-4977436_1920.jpg);
  background-size: cover;
  color:white;
  text-align: center;
  height:450px;
}

.contact p{
  font-size: 20px;
  background-color: slategray;
  display: inline-block;
  border-radius: 4px;
  padding: 5px 10px;
  box-shadow: 0 5px black;
  opacity: 0.8;
}

.contact p:hover{
  opacity:1;
  color: whitesmoke;
}

.contact p:active{
  box-shadow: none;
  top:5px;
}

.footer{
  width:100%;
  height: 45px;
  background-color:white;
  color:gray;
}
